<section>
    <div class="name">
        <img class="tag" src="./../../../assets/icons/tag.svg" alt="">
        <span class="nunito-24-700">{{ navigationService.currentChannel?.name }}</span>
        <img class="keydown" src="./../../../assets/icons/keyboard_arrow_down.svg" alt="">
    </div>
    <div class="members">
        <div class="memberlist">
            <div class="member3">
                @for(user of navigationService.currentChannel?.members?.slice(0,3); track user )
                { <app-userbadge [user]="userservice.getUserByID(user)"></app-userbadge> }
            </div>
            <span class="nunito-18-400">{{ navigationService.currentChannel?.members?.length }}</span>
        </div>
        <img class="svg-btn add-person" src="./../../../assets/icons/person_add.svg" alt="">
    </div>

</section>