<section>
    <h1>DABubble</h1>
    <div class="searchbar">
        <form id="login" class="login">
            <input id="email" type="text" placeholder="email">
            <input id="password" type="text" placeholder="password">
            <button class="button" type="submit">Login</button>
        </form>
        <form [formGroup]="signinForm" class="signin">
            <input formControlName="email" type="text" placeholder="email">
            <input formControlName="password" type="text" placeholder="password">
            <button (click)="submitSignInForm($event)">Sign in</button>
        </form>
        <input type="text">
        <button>Search</button>
    </div>
    <span>Badge</span>
</section>