section {
    width: 100%;
    height: var(--header-height);
    padding-top: var(--main-spacing);
    padding-bottom: var(--main-spacing);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .searchbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border-radius: 5000px;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
    }
}