section {
    height: calc(100% - var(--main-spacing) - var(--main-spacing));
    padding: var(--main-spacing);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--main-spacing);

    .headline {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--main-spacing);
        img {
            width: 60px;
            height: 60px;
        }
    }
}