section {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--main-spacing);

    .headline {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--main-spacing);

        .logo {
            width: 60px;
            height: 60px;
        }

        .name {
            flex-grow: 1;
        }

        .edit {
            width: 30px;
            height: 30px;
        }
    }
}