<section>
    @if(message) {
    <div (click)="selectMessage()" [ngClass]="userservice.currentUser == user ? 'message-self' : 'message-other'"
        class="message">
        <app-userbadge [user]="user"></app-userbadge>
        <div class="message-content">
            @if(user) {
            <div [ngClass]="userservice.currentUser == user ? 'message-self' : 'message-other'"
                class="message-name-time">
                <span class="nunito-18-700">{{ user.name }}</span>
                <span class="nunito-14-400 time">{{ getCreatedAtTimeAsString() }}
                    Uhr</span>
            </div>
            }
            <div [ngClass]="userservice.currentUser == user ? 'message-self' : 'message-other'" class="cut to many ">
                <div [ngClass]="userservice.currentUser == user ? 'message-text-right' : 'message-text-left'"
                    class="nunitp-18-400 message-text">{{ message.content }}</div>
            </div>
            @if(message.answerCount > 0) {
            <div [ngClass]="userservice.currentUser == user ? 'message-self' : 'message-other'" class="message-answers">
                <span class="nunito-18-400 answercount">{{ message.answerCount }} Antworten</span>
                <span class="nunito-14-400 lastanswer">Letzte Antwort {{ getLastAnswerAtTimeAsString() }}</span>
            </div>
            }
        </div>
    </div>
    }
</section>