section {

    .message {
        display: flex;
        justify-content: flex-start;
        gap: var(--main-spacing);

        padding: var(--main-spacing) var(--card-inner-spacing);

        .message-name-time {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--main-spacing);
        }

        .time {
            color: #686868;
        }

        .message-text-other {
            border-radius: 0 30px 30px 30px;
            background-color: var(--message-bg-color);
            color: black;
        }

        .message-text-self {
            border-radius: 30px 0 30px 30px;
            background-color: var(--message-bg-color-self);
            color: white;
        }

        .message-text {
            padding: var(--main-spacing);
            white-space: pre-line;
        }

        .message-text-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .message-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--main-spacing);
        }

        .message-answers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--main-spacing);
        }

        .thread-answers {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--main-spacing);

            .thread-answercount {
                color: var(--writemessage-border-color);
            }

            div {
                flex-grow: 1;
                height: 2px;
                background-color: var(--writemessage-border-color);
            }
        }

        .answercount {
            color: var(--answercount-color);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .lastanswer {
            color: black;
        }

        &:hover {
            background-color: #ECEEFE;

            .message-text-other {
                background-color: white;
            }
        }
    }

    .message-self {
        flex-direction: row-reverse;
    }

    .message-other {
        flex-direction: row;
    }
}