section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .messagelist {
        overflow-y: auto;
        min-height: var(--card-chatview-height);
        max-height: var(--card-chatview-height);
    }
}