section {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;

    .separator {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--main-spacing) var(--card-inner-spacing);

        .separator-line {
            flex-grow: 1;
            background-color: var(--writemessage-border-color);
            height: 2px;
            width: 100%;
        }

        span {
            border: 2px solid var(--writemessage-border-color);
            border-radius: 5000px;
            padding: var(--main-spacing);
            text-wrap: nowrap;
        }
    }
}