<section [ngClass]="threadservice.thread === undefined ? '' : 'show-threadview'" class="card-multi">
    <div class="card-header">
        <span># header ........</span>
    </div>
    <div class="messagelist bubble-scrollbar">
        <span>Erste Nachricht auf die geantwortet werden kann</span>
        @if(threadservice.threadChat !== undefined)
        {
        <app-chatview [chat]="threadservice.threadChat"></app-chatview>
        }
        @else {
            <span>Bisher keine Antworten, schreiben sie eine...</span>
        }
    </div>
    <app-writemessage (sendMessageEvent)="addAnswerToChat($event)" class="card-footer"></app-writemessage>
</section>