section {

    .dropdown {
        transition: all 0.3s;
    }
    
    .headline {
        cursor: pointer;
        height: var(--card-title-height);
        padding-bottom: var(--main-spacing);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--main-spacing);

        .directmessagetitle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--main-spacing);
        }

        &:hover {
            .directmessagetitle {
                color: var(--hover-color);
            }
            .dropdown {
                content: url('./../../../assets/icons/arrow_drop_down_high.svg');
            }
            .icon {
                content: url('./../../../assets/icons/account_circle_high.svg');
            }
        }

        &::after {
            width: 0;
            height: 0;
            overflow: hidden;
            content: url('./../../../assets/icons/arrow_drop_down_high.svg');
        }        

        &::before {
            width: 0;
            height: 0;
            overflow: hidden;
            content: url('./../../../assets/icons/account_circle_high.svg');
        }        

    }

    .userlist {
        overflow: hidden;
        transition: all 0.3s;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: stretch;

        .user {
            padding: 4px 20px 4px 20px;
            border-radius: 5000px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;
                background-color: var(--hover-bg-color);
            }
        }
    }
}