<section>
    <button (click)="addDefaultUsers()">addusers</button>
    <div (click)="toggleListDropdown()" class="headline">
        <img class="dropdown" [style.transform]="'rotate(' + (listdropdown ? 0 : -90) + 'deg)'"
            src="./../../../assets/icons/arrow_drop_down.svg" alt="">
        <div class="directmessagetitle">
            <img class="icon" src="./../../../assets/icons/account_circle.svg" alt="">
            <span class="nunito-20-700 font-bold">Direktnachrichten</span>
        </div>
    </div>
    <div class="userlist" [style.max-height.px]="listdropdown ? 1000 : 0">
        @for(user of userservice.users; track user.id) {
        <div (click)="selectUser($event, user)" class="user">
            <app-userbadge [user]="user"></app-userbadge>
            <span class="name nunito-18-400">{{user.name}} {{ userservice.currentUser == user ? '(Du)' : '' }}</span>
            <button (click)="userservice.currentUser=user">*</button>
        </div>
        }
    </div>
</section>